@tailwind base;
@tailwind components;
@tailwind utilities;

.radial-blue {
    background: radial-gradient(lightyellow, lightblue);
}

@layer utilities {
    /*height of each section*/
    .section-min-height {
        min-height: calc(100vh - 68px);
    }
    /*68 is the height of fixed header(line-height + padding top + padding-bottom)*/

    .toggle-btn {
        @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45
        [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent
        [&>div]:rotate-[720deg]
    }
}
